
.Asesoria{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 10% repeat(3, minmax(5rem, 1fr)) 10%;
    grid-template-rows:   0.2fr 0.1fr 0.3fr 0.3fr 0.1fr;
    color: white;
    h2:hover{

        color:black;
        background: #f1bf1b;
    }
    h1{

        font-size: 6vh;
        grid-row: 0/4; 
        grid-column: 2/3;
        object-fit: cover;
       align-self: end;
       justify-self: start;
       
    }
}
#IMA1{
    border-radius: 20px;
}
.Servicio1{

    grid-row: 3/4; 
    grid-column: 2;
    align-self: center;
    justify-self: center;
    border-radius: 18px;
    h1{
    font-size: 3vh;
    }
    h2{
    font-size: 2vh;
    color: #f1bf1b;
    }
}
.Servicio2{
    grid-row: 3/4; 
    grid-column: 3;
    align-self: center;
    justify-self: center;
    h1{
    font-size: 3vh;
    
    }
    h2{
    font-size: 2vh;
    color: #f1bf1b;
    }
}
.Servicio3{
    grid-row: 3/4; 
    grid-column: 4;
    align-self: center;
    justify-self: center;
    h1{
    font-size: 3vh;
    }
    h2{
    font-size: 2vh;
    color: #f1bf1b;
    }
}
.Servicio4{
    grid-row: 4; 
    grid-column: 2;
    align-self: center;
    justify-self: center;
    h1{
    font-size: 3vh;
    }
    h2{
    font-size: 2vh;
    color: #f1bf1b;
    }
}
.Servicio5{
    grid-row: 4; 
    grid-column: 3;
    align-self: center;
    justify-self: center;
    h1{
    font-size: 3vh;
    }
    h2{
    font-size: 2vh;
    color: #f1bf1b;
    }
}
.Servicio6{
    grid-row: 4; 
    grid-column: 4;
    align-self: center;
    justify-self: center;
    h1{
    font-size: 3vh;
    }
    h2{
    font-size: 2vh;
    color: #f1bf1b;
    }
}
.TerceraSeccion{
    background-image: url("https://cdn.discordapp.com/attachments/700760703903989780/823715568553033748/FONDO2.png") ;
}