
.MallaTrabajos{
    background: #121212;
}

.MallaTrabajos{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 10% repeat(6, minmax(3rem, 1fr)) 10%;
    grid-template-rows:   0.1fr 0.4fr 0.2fr 0.2fr 0,2fr;


    h1{
        grid-row: 3/4;
        grid-column: 2/5;
        align-self: center;
      
        justify-self: start;
        padding-left: 15vh;
        color: rgb(138, 138, 138);
        font-size: 3vh;
    }
     h2{
        grid-row: 2/3;
        grid-column: 2/4;
        padding-left: 15vh;
        font-size: 6vh;
        
        color: #f1bf1b;
        padding-top: 10vh;
     }
     h3{
        grid-row: 4;
        grid-column: 2/5;
        align-self: center;
        padding-left: 15vh;
        color: rgb(138, 138, 138);
        font-size: 3vh;
    }
    .BtnContacto{
border-radius: 20%;
grid-row:3 ;
grid-column:6/8 ;

    }
    .Acompana1{
        display: flex;
        grid-row: 5/6;
        justify-content: flex-end;
        align-self: center;
        grid-column: 2/5;
        margin: 5px 5px 5px 5px;

    }
    .Acompana2{
        display: flex;
        grid-row: 4/6;
        grid-column: 7;
        margin: 5px 5px 45px 5px;
        justify-self: flex-end;
        align-self: flex-end;
    }
    #IMA2{
    border-radius: 20px;
    }

}